$light: #ffffff;
$invisible: transparent;

.half-a-border-on-top {
  border-top: 2px solid;
  border-image: linear-gradient(to right, $invisible 50%, $light 50%) 20% 1;
}

.half-a-border-on-bottom {
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, $invisible 50%, $light 50%) 20% 1;
}

.br-2-white {
  border-right: 2px solid $light;
}

.activeBorder {
  border-color: $light;
  border-image: linear-gradient(to right, $invisible 50%, $light 50%) 20% 1;
}

.borderBase {
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: $invisible;
}
