#app {
  background: linear-gradient(177.21deg, #4e4e4e -15.72%, #0c0c0c 14.41%);
}

.w-30 {
  width: 30%;
}

.w-30 {
  width: 30%;
}

.w-30 {
  width: 30%;
}

.w-44-6 {
  width: 44.6%;
}

.w-89-2 {
  width: 89.2%;
}
